<div id="page3">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">{{user.username}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/userinfer">Edit</a></li>
            </ul>
          </li>
          <li><a href="/adminpage">Admin</a></li>
          <li><a href="/userpage">User</a></li>
        </ul>
        <button type="button" class="btn btn-default navbar-btn navbar-right" style="margin-right: 20px"
                (click)="logout()">Log Out
        </button>
        -->

      </div>
    </div>
  </nav>
  <br>
  <div class="col-md-10 col-md-offset-1 well well-sm">
    <a (click)="viewUserList()" style="cursor: pointer;">Manage Users</a>
  </div>
  <div class="col-md-10 col-md-offset-1 well well-sm">
    <div style="margin-top: 10px">

      <div class="col-md-4 col-md-offset-3">
        <label>Type</label>
        <select class="form-control" id="dtype" name="dtype" (ngModelChange)="onTypeChange($event)">
          <!--<option value={{font.category}}>{{font.category}}</option>-->
          <!--<option value={{font.category}}>{{font.category}}</option>-->
          <option value="" disabled selected>Select your Type</option>
          <option value="RULE">rule</option>
          <option value="PRORULE">prorule</option>
          <option value="NOTICE">notice</option>
          <option value="PRESDOCU">presdocu</option>
          <!--<option *ngFor="let list of levelslist">{{list.name}}</option>-->
        </select>

      </div>
      <div class="form-group col-md-4 col-md-offset-3 ">
        <label>Title</label>
        <input type="text" class="form-control" id="title" placeholder="Document Tile" [(ngModel)]="title">
      </div>
      <div class="form-group col-md-4 col-md-offset-3 ">
        <label>Zipcode</label>
        <input type="text" class="form-control" id="zipcode" placeholder="Zipcode" [(ngModel)]="zipcode">
      </div>
      <div class="form-group col-md-4 col-md-offset-3">
        <input type="checkbox" id="significance" (change)="toggleSignificance($event)"> Significance
        <input type="checkbox" id="reviewed" (change)="toggleReviewed($event)" style="margin-left: 20px"> Reviewed

      </div>
      <div class="form-group col-md-4 col-md-offset-3">

        <button type="submit" (click)="searchDocument()" class="btn btn-primary">Search</button>
        <button type="submit" (click)="refreshTable()" style="margin-left: 20px" class="btn btn-primary">Refresh
        </button>

      </div>

    </div>
  </div>

  <div class="col-md-10 col-md-offset-1 well well-sm">


    <div style='float:left;width:90%'>
      <ngx-datatable
        style="width: 95%"
        class="bootstrap"
        [rows]="rows"
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectAllRowsOnPage]="false"
        [displayCheck]="displayCheck"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
        <ngx-datatable-column
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true">
        </ngx-datatable-column>
        <ngx-datatable-column name="id" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="name" [flexGrow]="5"></ngx-datatable-column>

      </ngx-datatable>
    </div>
    <div class='selected-column' style="margin-left: 20px">
      <h4>Selections
        <small>({{selected?.length}})</small>
      </h4>
      <ul>
        <li *ngFor='let sel of selected'>
          {{sel.id}}
        </li>
        <li *ngIf="!selected?.length">No Selections</li>
      </ul>
      <button type="submit" (click)="createLists()" class="btn btn-primary">Create Lists</button>
    </div>
  </div>


  <div class="col-md-10 col-md-offset-1 well well-sm">
    <div style='float:left;width:90%'>
      <label>Document Lists</label>
    <ngx-datatable
      class="bootstrap"
      [rows]="listrows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [rowHeight]="'auto'">
      <ngx-datatable-column name="id"></ngx-datatable-column>
    </ngx-datatable>
    </div>
  </div>


</div>


