<div id="page3">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a (click)="viewUser()">Edit</a></li>
            </ul>
          </li>
          <li><a routerLink="/adminpage" *ngIf="ifAdmin">Admin</a></li>
          <li><a routerLink="/userpage">User</a></li>
        </ul>
        <button type="button" class="btn btn-default navbar-btn navbar-right" style="margin-right: 20px" (click)="logout()">Log Out</button>-->

      </div>
    </div>
  </nav>
  <br>
  <div class="col-md-10 col-md-offset-1 well well-sm">
    <div style="margin-top: 10px">

      <div class="col-md-4 col-md-offset-3">
        <label>Type</label>
        <select class="form-control" id="dtype" name="dtype" [(ngModel)]="dtype" (ngModelChange)="onTypeChange($event)">
          <!--<option value={{font.category}}>{{font.category}}</option>-->
          <!--<option value={{font.category}}>{{font.category}}</option>-->
          <option value="" disabled selected>Select your Type</option>
          <option value="RULE">rule</option>
          <option value="PRORULE">prorule</option>
          <option value="NOTICE">notice</option>
          <option value="PRESDOCU">presdocu</option>
          <!--<option *ngFor="let list of levelslist">{{list.name}}</option>-->
        </select>

      </div>
      <div class="form-group col-md-4 col-md-offset-3 ">
        <label>Title</label>
        <input type="text" class="form-control" id="title" placeholder="Document Tile" [(ngModel)]="title">
      </div>
      <div class="form-group col-md-4 col-md-offset-3 ">
        <label>Zipcode</label>
        <input type="text" class="form-control" id="zipcode" placeholder="Zipcode" [(ngModel)]="zipcode">
      </div>
      <div class="form-group col-md-4 col-md-offset-3">
        <input type="checkbox" id="significance" (change)="toggleSignificance($event)"> Significance
        <input type="checkbox" id="reviewed" (change)="toggleReviewed($event)" style="margin-left: 20px"> Reviewed

      </div>
      <div class="form-group col-md-4 col-md-offset-3">

        <button type="submit" (click)="searchDocument()" class="btn btn-primary">Search</button>
        <button type="submit" (click)="refreshTable()" style="margin-left: 20px" class="btn btn-primary">Refresh</button>

      </div>

      <div class="col-md-4 col-md-offset-3">
        <label style="color: darkred" *ngIf="resultBoolean">No Results</label>
      </div>


    </div>
  </div>

    <div class="col-md-10 col-md-offset-1 well well-sm" *ngFor="let item of ducumentList">
      <table style="width:100%" class="table table-bordered">
        <thead>
        <tr>
          <th>Document Id</th>
          <th>Document Title</th>
        </tr>
        </thead>
        <tbody id="hi">

        <tr *ngFor="let doc of item.documents" (click)="viewDocument(item._id,doc.document_number)" style="cursor: pointer;" id={{doc.document_number}}>
          <td>{{doc.document_number}}</td>
          <td>{{doc.title}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


